html
{
	width:100%;
	height:100%;
}

body
{
	width:95%;
	height:95%;
}

#app {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

#SimpleDiv
{
	color:white;
	-webkit-user-select: none;
	text-align: center;
	width: 100%;
	height: 80%;
	/* border: 1px solid #0f0; */
}

#WorldDiv
{
	color:white;
	-webkit-user-select: none;
	text-align: center;
	width: 100%;
	height: 20%;
	border: 1px solid #0f0; 
}




